.image-content {
  width: min(90vw, 600px); /* scales down with viewport, max 600px */
  aspect-ratio: 1 / 1; /* keeps perfect square */
  
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.4);
  background-image: url('/images/backgrounds/official/championsleague.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  position: relative;
}

.players-grid {
  display: grid;
  position: absolute;
  bottom: 5%;
  width: 90%;
  height: 72%;

  column-gap: 2vw; /* scales with screen size */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(50, 1fr);
  box-sizing: border-box;
}

.coach-image {
  position: absolute;
  top: 1%;
  left: 1%;
  width: clamp(1.875rem, 0.1849rem + 8.4507vw, 3.75rem);
}
