.change-player-menu {
  display: none;
  aspect-ratio: 1 / 1.5;
  background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 51%) 0%,
    hsl(0deg 0% 77%) 37%,
    hsl(0deg 0% 82%) 55%,
    hsl(0deg 0% 71%) 72%,
    hsl(0deg 0% 46%) 100%
  );
  position: absolute;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  scale: 1;

  border-radius: 25px;
  border: 2px solid rgb(80, 80, 80);
  padding: 60px 10px;
  gap: 15px;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.change-player-menu::-webkit-scrollbar {
  display: none;
}

.change-player-menu.active {
  display: flex;
  animation: pop 0.2s ease;
}

.change-player-menu .exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  cursor: pointer;
  background: rgb(200, 0, 0);
  color: white;
  font-size: 1.2rem;
  font-family: "Secular One", sans-serif;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: background-color 0.1s;
}

.change-player-menu .exit-button:hover {
  background: rgb(120, 0, 0);
}

.change-player-menu .exit-button:active {
  background: rgb(100, 0, 0);
}

.player-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 10px 0;
  width: 100px;
  height: 150px;
  /* background-image: radial-gradient(white, rgb(185, 185, 185)); */
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.player-preview-image:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
}

.player-preview-image:active {
  opacity: 0.8;
}

.player-preview-image {
  width: 100%;
  align-self: center;
  transition: box-shadow 0.15s;
}

@media (min-width: 600.1px) and (min-height: 920.1px) {
  .change-player-menu {
    width: 400px;
  }
}

@media ((min-width: 450.1px) and (max-width: 600px)) or ((max-height: 920px)) {
  .change-player-menu {
    width: 400px;
  }
}

@media (min-width: 300.1px) and (max-width: 450px) {
  .change-player-menu {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .change-player-menu {
    width: 200px;
  }
}

@keyframes pop {
  0% {
    scale: 0.7;
  }

  60% {
    scale: 1.1;
  }
}