.done-button {
  margin-top: 20px;
  font-size: 1.5rem;
  padding: 5px 40px;
  font-family: "Secular One", sans-serif;;
  cursor: pointer;
  background: white;
  border: 1px solid gray;
  transition: box-shadow 0.15s;
}

.done-button:hover {
  background: rgb(230, 230, 230);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.done-button:active {
  background: rgb(210, 210, 210);
}