.screenshot-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 75ms;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.405);
  flex-shrink: 0;
}

.screenshot-button:active {
  background: rgb(230, 230, 230);
}

.final-photo {
  position: fixed;
  left: 200%;

  aspect-ratio: 1 / 1;
  width: 1080px;
  box-shadow: none;

  background-image: url('images/backgrounds/official/championsleague.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  position: relative;
}

.final-photo .head {
  width: 145px;
}

.final-photo .playing-teams-buttons-container {
  top: 40px;
  gap: 290px;
}

.final-photo .team-logo {
  width: 115px;
  height: 115px;
}

.final-photo .coach-image {
  width: 120px;
}