.soccer-field {
  width: 400px;
  min-height: 700px;
  min-width: 230px;
  max-width: 400px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(15, 1fr);
  position: relative;

  box-sizing: border-box;
  padding: 5px;
  /* gap: 1px; */
}

.soccer-field-background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

@media (min-width: 400.1px) {
  .player {
    width: 30px;
    height: 30px;
  }
}

@media ((min-width: 300.1px) and (max-width: 400px)) or (max-height: 930px) {
  .soccer-field {
    width: 300px;
    min-height: 525px;
  }

  .player {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 250.1px) and (max-width: 300px) {
  .soccer-field {
    width: 200px;
    min-height: 400px;
  }

  .player {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 250px) {
  .soccer-field {
    display: none;
  }

  .cycle-header {
    font-size: 1.5rem;
  }

  .cycle-option {
    width: 80px;
    padding: 5px 8px;
    margin-inline: 10px;
  }
}

.player {
  border-radius: 50%;
  background: black;
}