.cycle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cycle-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cycle-header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 3rem;
}

.cycle-option {
  font-size: 1.5rem;
  background: white;
  padding: 10px 30px;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 20px;
  border: 1px solid gray;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.cycle-arrow {
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 250.1px) and (max-height: 890px) {
  .cycle-container {
    position: absolute;
    z-index: 100;
    transform: translateY(-320px);
  }
}